main
{
    background-color:rgba(0, 0, 0, 0.363);
    color:beige;
    padding:2vw;
    display: flex;
    justify-content:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    font-size: x-large;
    min-height: 70vh;
}
strong
{
    color: white;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
.profile
{
    border-radius: 50%;
    margin: 30px;
    border:double white;
    width: auto;
    max-width: 50vw;
    max-height: 50vh;
}

.social
{
    margin: 15px;
    width: 40px;
    border-radius: 50%;
    border: none;
    border:double white;
}
.social:hover
{
    opacity: 0.7;
    cursor: pointer;
}
@media screen and (max-width: 870px)
{
    main 
    {
        flex-direction: column;
        padding: 5vw;
    }
    .profile
    {
        max-height: 80vh;
        max-width: 80vw;
    }
}