main
{
    background-color:rgba(0, 0, 0, 0.363);
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 0px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 1vh;
}
.heading
{
    margin-top: 0;
    padding-top: 2vh;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}
.author
{
    display:flex;
    justify-content: flex-end;
}
.quote
{
    text-align: center;
    font-weight: bold;
}
p
{
    margin-top: 0;
}
h2
{
    margin-bottom: 1px;
}
h3
{
    margin-bottom: 1px;
}
ol
{
    font-weight: bold;
}
.content
{
    font-weight: normal;
}
.display-pic
{
    width: 25vw;
    height: auto;
    display: inline;
    border-radius: 7px;
    margin:7px;
    border:solid rgba(0, 0, 0, 0.404) 1px;
}
.pic 
{
    display: block;
    display: flex;
    justify-content:space-around;
}
.chamba
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 610px)
{
    main 
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .display-pic
    {
        width: 75vw;
    }
    .pic
    {
        flex-direction: column;
    }
}