/* Background gradient */

body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: large;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.order {
  float: right;
}

.topnav .icon {
  display: none;
}

li a:hover {
  background-color: grey;
  border-radius: 2px;
}


/* The hero image */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/3.jpg");
  height: 90vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0.25px;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.sidepanel {
  overflow-y: scroll;
  margin: 6px;
  height: 90vh; 
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.15s; 
}
.sidepanel a {
  padding: 8px 8px 15px 32px;
  text-decoration: none;
  font-size: larger;
  color: white;
  display: block;
  transition: 0.3s;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sidepanel a:not(.closebtn):hover{
  background-color: grey;
  border-radius: 2px;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  cursor: pointer;
}



/* Navbar responsive */

@media screen and (max-width: 610px) {
  .topnav ul li a {
    display: none;
  }
  .topnav ul li a.home {
    display: block;
  }
  .topnav ul li a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li {
    float: none;
    display: block;
    width: 100%;
  }
  .topnav.responsive ul li a {
    display: block;
    text-align: left;
  }
  .order {
    float: none;
  }
}

/* footer */
footer
{
    color: white;
    display: flex;
    justify-content: center;
    font-size:large;
    padding-top: 2vh;
    padding-bottom: 0.5vh;
}
footer a
{
    text-decoration: none;
    color: beige;
}